<footer class="bg-zinc-800 w-full h-auto mt-12">
  <div class="w-full h-24 pt-10 ">
    <h1 class="text-center text-blue-500 uppercase text-3xl cacher-2">The Awakening</h1>
  </div>
  <div class="text-center h-10 mb-7 ">
    <ul class="list flex items-center justify-center gap-2">
      <li class="list__item cacher-3"><a href="https://www.threads.net/?utm_source=pwa_homescreen&__pwa=1" class="list__item__link border border-white bg-black text-white block w-10 h-10 text-center  pt-2 "><i class="fa-brands fa-threads cacher-3"></i></a></li>
      <li class="list__item cacher-4"><a href="https://www.facebook.com" class="list__item__link border border-white bg-black text-white block w-10 h-10 text-center  pt-2 hover:bg-blue-700 cacher-4"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="list__item cacher-5"><a href="https://twitter.com/home" class="list__item__link border border-white bg-black text-white block w-10 h-10 text-center  pt-2 cacher-5"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li class="list__item cacher-6"><a href="https://www.instagram.com/" class=" list__item__link list__item__link__instagram border border-white bg-black text-white block w-10 h-10 text-center  pt-2 cacher-6"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="list__item cacher-7"><a href="https://www.tiktok.com/foryou" class="list__item__link border border-white bg-black text-white block w-10 h-10 text-center  pt-2 cacher-7"><i class="fa-brands fa-tiktok"></i></a></li>
      <li class="list__item cacher-1"><a href="https://www.linkedin.com/feed/" class="list__item__link border border-white bg-black text-white block w-10 h-10 text-center  pt-2 hover:bg-blue-900 cacher-3"><i class="fa-brands fa-linkedin-in"></i></a></li>
    </ul>
  </div>
  <div class=" flex items-center gap-5 justify-center h-12 pb-10">
    <p class="text-center text-white font-montserat cacher-7">Copyright &copy; 2022. Tous droits réservés.</p>
    <ul class="text-center flex items-center gap-8">
      <li class=" list__footer"><a href="#" class="text-white  hover:underline">Mentions légales</a></li>
      <li class=" list__footer"><a href="#" class="text-white  hover:underline">Contact</a></li>
    </ul>
  </div>
</footer>
